@model ToDoApp.Models.UserModel
@{
    ViewBag.Title = "CreateUser";
}

<div class="container-fluid">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">

                            <h2 class="text-uppercase text-center mb-5">@((Model.Id==0)?"Create an account":"Edit user")</h2>

                            @using (Html.BeginForm("CreateUser", "User", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                if (Model.Id != 0)
                                {
                                    @Html.HiddenFor(i => i.Id)
                                }

                                <div data-mdb-input-init class="form-outline mb-4">
                                    @Html.TextBoxFor(i => i.Name, null, new { @class = "form-control", required = "required" })
                                    <label class="form-label" for="form3Example1cg">Your Name</label>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    @Html.TextBox("username", null, new { @class = "form-control", required = "required" })
                                    <label class="form-label" for="form3Example3cg">Username</label>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    @Html.TextBox("userrole", null, new { @class = "form-control", required = "required" })
                                    <label class="form-label" for="form3Example3cg">User Role</label>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    @Html.Password("password", new { @class = "form-control", required = "required" })
                                    <label class="form-label" for="form3Example4cg">Password</label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" data-mdb-button-init
                                            data-mdb-ripple-init class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                        @((Model.Id == 0)?"Register":"Update")
                                    </button>
                                    <a href="@Url.Action("Index", "ToDo")" class="btn btn-secondary btn-danger">Close</a>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

