@model List<ToDoApp.Models.UserModel>

@{
    ViewBag.Title = "UserList";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            var user = Model[i];
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Name</td>
                <td>
                    <a class="btn btn-sm btn-info" href="@Url.Action("CreateUser", "User", new {id = user.Id})">Edit</a>
                    @using (Html.BeginForm("DeleteUser", "User", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", user.Id)
                        <button class="btn btn-danger btn-sm" onclick="return confirm('Do you want to delete user?')">Delete</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Index","ToDo")" class="btn btn-secondary btn-danger">Close</a>
